    @use "./mixins" as *;
    @use "./variables" as *;

    %card-base {
        height: 490px;
        width: 360px;
        border-radius: $radius-lg;
        background-color: $color-white;
        @include flex-center(column, center, center);
        box-shadow: $shadow;
    }