@use "./variables" as *;

@mixin flex-center($dir: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

@mixin button-base ($main-color, $text-color, $color-secondary-color) {
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.125rem;
    padding: 20px 55px 21px 54px;
    background: none;
    border-radius: $radius-lg;
    border-color: $main-color;
    color: $text-color;
    cursor: pointer;

    &:hover {
        background-color: $main-color;
        color: $color-secondary-color;
        transition: all 0.3s ease;
    }

    &:active {
        box-shadow: inset 0 0 0 3px $color-secondary-color;
        transition: all 0.3s ease;
    }
}

@mixin images-background($img) {
    background-image: url($img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@mixin images-base ($height, $width, $border-color) {
    height: $height;
    width: $width;
    border-radius: $radius-full;
    object-fit: cover;
    border: 8px solid $border-color;
}



@mixin image($w, $h, $radius: 0, $border: none) {
    width: $w;
    height: $h;
    object-fit: cover;
    border-radius: $radius-lg;

    @if $border !=none {
        border: 8px solid $border;
    }
}