    $main-colors: (
        primary: #323232,
        secondary: #f08c52,
        black: #000000
    );

    $font-main: 'Poppins', sans-serif;

    $font-sizes: (
        small: 18px,
        medium: 24px,
        large: 100px
    );