$font-main: 'Poppins', sans-serif;

$font-sizes: (
    small: 18px,
    medium: 24px,
    m/l: 40px,
    l-large: 60px,
    large: 100px
);

$transition: all 0.3s ease;
$black: #070707;
$white: #f1f1f1;
$primary: #323232;
$secondary: #f08c52;