    @use "./mixins" as *;
    @use "./variables" as *;
    @use "./extend" as *;

    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        font-family: $font-main;
    }

    .container {
        display: grid;
        grid-template-rows: auto auto auto;
        height: 100vh;
    }


    main {
        display: flex;
        flex-direction: column;
    }

    .header {
        @include flex-center(column, center);

        .header__container {
            @include flex-center(row, space-between);
            width: 70%;

            .header__logo {
                width: 70px;
                height: 70px;
                margin: 10px 0;
            }

            .header__nav {
                .header__nav-link {
                    margin: 0 15px;
                    color: $color-black;
                    text-decoration: none;
                    font-weight: 600;
                    text-decoration: underline;
                    font-size: map-get($font-sizes, small);
                    transition: $transition;

                    &:hover {
                        color: $color-secondary;
                    }

                    &:active {
                        color: $color-primary;
                    }
                }
            }
        }
    }


    .main {

        .first-section {
            @include flex-center(column, center);
            @include images-background('../img/wp7287123-4k-mountain-wallpapers.jpg');
            background-image: linear-gradient(0deg, rgba(51, 44, 41, 0.45), rgba(51, 44, 41, 0.45)), url('../img/wp7287123-4k-mountain-wallpapers.jpg');

            .first-section__container {
                width: 100%;
                max-width: 70%;
                margin: 0 auto;

                .first-section__name {
                    color: $color-white;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: map-get($font-sizes, small);
                    margin-top: 200px;
                }

                .first-section__title {
                    font-size: map-get($font-sizes, large);
                    color: $color-white;
                    margin-top: 0px;
                    margin-bottom: 20px;
                    text-shadow: $shadow;
                    letter-spacing: 3px;
                    line-height: 1;
                }

                .first-section__text {
                    color: $color-white;

                    .first-section__link {
                        color: $color-white;
                        transition: $transition;

                        &:hover {
                            text-decoration-color: $color-secondary;
                        }
                    }
                }

                .first-section__button {
                    @include button-base ($color-white, $color-white, $color-black);
                    margin-top: 40px;
                    margin-bottom: 190px;
                }

            }
        }





        .second-section {
            @include flex-center(column, center);
            background-color: #333333;

            .second-section__container {
                width: 100%;
                max-width: 70%;
                margin: 0 auto;

                .second-section__title {
                    font-size: map-get($font-sizes, medium-large);
                    font-weight: 400;
                    color: $color-white;
                    margin-bottom: 40px;
                    margin-top: 90px;
                    text-align: center;
                }

                .second-section__cards {
                    @include flex-center(row, center);
                    flex-wrap: wrap;
                    margin-bottom: 50px;
                    gap: 30px;


                    .second-section__article {
                        @extend %card-base;

                        .second-section__name-card {
                            font-size: map-get($font-sizes, medium);
                            font-weight: 100;
                            color: $color-black;
                            margin-bottom: 20px;
                        }

                        .second-section__text {
                            color: $color-black;
                            text-align: center;
                            padding: 0 20px;
                            border-bottom: 2px solid rgb(197, 197, 197);
                            margin-top: 5px;
                            margin-bottom: 20px;
                        }

                        .second-section__image {
                            @include images-base(300px, 300px, #f08c52);
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }


        .third-section {
            @include flex-center(column, center);
            background-color: #333333;


            .third-section__box {
                padding-top: 200px;
                width: 100%;
                max-width: 70%;
                margin-top: -20px;
                position: relative;


                .circle-one {
                    height: 200px;
                    border: 60px solid #435152;
                    width: 200px;
                    border-radius: $radius-full;
                    z-index: 1;
                    position: absolute;
                    top: 8%;
                    left: 50%
                }

                .third-section__image {
                    box-shadow: $shadow;
                    z-index: 2;
                    @include images-base(800px, 800px, none);
                    margin-left: 6%;
                    position: relative;
                }

                .circle-two {
                    height: 220px;
                    background-color: $color-secondary;
                    width: 220px;
                    border-radius: $radius-full;
                    z-index: 1;
                    position: absolute;
                    top: 8%;
                    left: -65%
                }

                .circle-three {
                    height: 90px;
                    border: 30px solid $color-secondary;
                    width: 90px;
                    border-radius: $radius-full;
                    z-index: 1;
                    position: absolute;
                    top: 60%;
                    left: -29%
                }

                .third-section__container {
                    box-shadow: $shadow;
                    @include flex-center(column, center);
                    width: 600px;
                    background-color: $color-white;
                    border-radius: $radius-lg;

                    padding: 40px;
                    position: relative;
                    top: -200px;
                    right: -40%;
                    z-index: 3;

                    .third-section__title {
                        font-size: map-get($font-sizes, medium-large);
                        font-weight: 500;
                        color: $color-black;
                        margin-bottom: 20px;
                        margin-top: 10px;
                    }

                    .third-section__text {
                        color: $color-black;
                        margin-bottom: 40px;
                        font-size: map-get($font-sizes, small);
                    }


                    .third-section__button {
                        @include button-base ($color-secondary, $color-secondary, $color-white);
                        align-self: flex-start;
                    }

                }
            }
        }


        .forth-section {
            background-color: #333333;
            padding-bottom: 100px;

            .forth-section__box {
                @include flex-center(row, center);
                max-width: 70%;
                margin: 0 auto;
                gap: 40px;

                .forth-section__container {
                    @include flex-center(column, flex-start);
                    flex-wrap: wrap;
                    width: 650px;

                    .forth-section__title {
                        align-self: flex-start;
                        font-size: map-get($font-sizes, medium-large);
                        font-weight: 600;
                        color: $color-white;
                        margin-bottom: 0px;
                        margin-top: 0px;

                        .discount {
                            color: $color-secondary;
                        }
                    }

                    .forth-section__info {
                        flex-wrap: wrap;
                        color: $color-white;
                        font-size: 20px;
                    }

                    .forth-section__text {
                        align-self: flex-start;
                        color: $color-white;
                    }

                    .forth-section__link {
                        color: $color-white;
                        transition: $transition;

                        &:hover {
                            text-decoration-color: #00c3d1;
                        }
                    }
                }

                .forth-section__button {
                    @include button-base ($color-secondary, $color-secondary, $color-white);
                    align-self: flex-start;
                }

            }

            .forth-section__container-two {
                position: relative;

                .circle {
                    height: 110px;
                    background-color: $color-secondary;
                    width: 110px;
                    border-radius: $radius-full;
                    z-index: 2;
                    position: absolute;
                    bottom: -20px;
                    right: -10px;
                }

                .forth-section__image {
                    @include images-base(300px, 300px, none);

                }
            }
        }
    }


    .footer {
        background-color: #2c2c2c;
        height: auto;
        min-height: 100px;
        @include flex-center (column, center);

        .footer-box__text {
            color: white;
            margin: 0;
            padding: 0;

            .footer-box__link {
                color: $color-secondary;
                transition: $transition;

                &:hover {
                    color: $color-white;
                    text-decoration-color: $color-secondary;
                }
            }
        }
    }