    @use "./mixins" as *;
    @use "./variables" as *;

    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        font-family: $font-main;
    }

    .container {
        display: grid;
        grid-template-rows: auto auto auto;
        height: 100vh;
    }


    main {
        display: flex;
        flex-direction: column;
    }

    .header {
        @include flex-center(column, center);

        .header__container {
            @include flex-center(row, space-between);
            width: 70%;

            .header__logo {
                width: 70px;
                height: 70px;
                margin: 10px 0;
            }

            .header__nav {
                .header__nav-link {
                    margin: 0 15px;
                    color: $black;
                    text-decoration: none;
                    font-weight: 600;
                    text-decoration: underline;
                    font-size: map-get($font-sizes, small);
                    transition: $transition;

                    &:hover {
                        color: map-get($main-colors, secondary);
                    }

                    &:active {
                        color: map-get($main-colors, primary);
                    }
                }
            }
        }
    }


    .main {

        .first-section {
            @include flex-center(column, center);
            @include images-background('./img/wp7287123-4k-mountain-wallpapers.jpg');
            background-image: linear-gradient(0deg, rgba(51, 44, 41, 0.45), rgba(51, 44, 41, 0.45)), url('./img/wp7287123-4k-mountain-wallpapers.jpg');

            .first-section__container {
                width: 100%;
                max-width: 70%;
                margin: 0 auto;

                .first-section__name {
                    color: $white;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: map-get($font-sizes, small);
                    margin-top: 290px;
                }

                .first-section__title {
                    font-size: map-get($font-sizes, large);
                    color: $white;
                    margin-top: 0px;
                    margin-bottom: 20px;
                    text-shadow: 4px 4px 17px rgba(0, 0, 0, 0.4);
                    letter-spacing: 3px;
                    line-height: 1;
                }

                .first-section__text {
                    color: $white;

                    .first-section__link {
                        color: $white;
                        transition: $transition;

                        &:hover {
                            text-decoration-color: map-get($main-colors, secondary);
                        }
                    }
                }

                .first-section__button {
                    @include button-base;
                    margin-top: 40px;
                    margin-bottom: 450px;
                }

            }
        }





        .second-section {
            @include flex-center(column, center);
            background-color: #333333;

            .second-section__container {
                width: 100%;
                max-width: 70%;
                margin: 0 auto;

                .second-section__title {
                    font-size: map-get($font-sizes, "m/l");
                    color: $white;
                    margin-bottom: 40px;
                    margin-top: 90px;
                    text-align: center;
                }

                .second-section__cards {
                    @include flex-center(row, center);
                    flex-wrap: wrap;
                    margin-bottom: 50px;
                    gap: 30px;


                    .second-section__article {
                        height: 490px;
                        width: 360px;
                        background-color: $white;
                        border-radius: 50px;
                    }
                }
            }
        }
    }